.lead {
    width: 100%;
    /* max-width: 1280px; */
    height: 768px;
    display: flex;
    flex-direction: column;
    background-image: url(../../images/brush.png);
    background-position: center;
    /* object-fit: cover; */
}